@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
  background-color: #0c0c0d;
  font-family: Raleway, sans-serif;
}

/* header section */
header {
  width: 100%;
  margin-left: -270px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.header-Icon {
  width: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-Icon a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  gap: 2px;
  color: white;
  text-decoration: none;
  transition: 2s ease-in;
}
.header-Icon a:hover {
  width: 200px;
  height: 30px;
  padding: 5px;
  border-radius: 50px;
  background-color: #b292ff;
  color: white;
}

.header-Icon img {
  width: 6.5px;
}

.nav-Container {
  width: 40%;
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #211f2359;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 42px;
}

.Nav-sty {
  color: #b292ff;
}

.Nav-sty:hover {
  color: white;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: white;
}
nav a:hover {
  color: #b292ff;
}
.nav-img {
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
}

/*  */
@media screen and (max-width: 1190px) {
  header {
    margin-left: -250px;
  }

  .nav-Container {
    width: 41%;
  }
}
@media screen and (max-width: 1194px) {
  header {
    margin-left: -270px;
  }

  .nav-Container {
    width: 41%;
  }
}
@media screen and (max-width: 1180px) {
  header {
    margin-left: -220px;
  }

  .nav-Container {
    width: 42%;
  }
}
@media screen and (max-width: 1182px) {
  header {
    margin-left: -270px;
  }

  .nav-Container {
    width: 42%;
  }
}

@media screen and (max-width: 1150px) {
  header {
    margin-left: -260px;
  }

  .nav-Container {
    width: 43%;
  }
}

@media screen and (max-width: 1122px) {
  header {
    margin-left: -250px;
  }

  .nav-Container {
    width: 44%;
  }
}

@media screen and (max-width: 1070px) {
  header {
    margin-left: -250px;
  }

  .nav-Container {
    width: 44.5%;
  }
}
@media screen and (max-width: 1074px) {
  .nav-Container {
    width: 44.5%;
  }
}
@media screen and (max-width: 1062px) {
  .nav-Container {
    width: 45%;
  }
}


@media screen and (max-width: 1054px) {
  header {
    margin-left: -250px;
  }

  .nav-Container {
    width: 45.5%;
  }
}

@media screen and (max-width: 1045px) {
  header {
    margin-left: -250px;
  }

  .nav-Container {
    width: 46%;
  }
}

@media screen and (max-width: 1032px) {
  .nav-Container {
    width: 47%;
  }
}

@media screen and (max-width: 1024px) {
  .nav-Container {
    width: 47%;
  }
}


@media screen and (max-width: 1010px) {
  header {
    margin-left: -230px;
  }

  .nav-Container {
    width: 48%;
  }
}


@media screen and (max-width: 982px) {
  .nav-Container {
    width: 49%;
  }

  header {
    margin-left: -210px;
  }
}

@media screen and (max-width: 986px) {
  .nav-Container {
    width: 49%;
  }

  header {
    margin-left: -210px;
  }
}


@media screen and (max-width: 974px) {
  header {
    margin-left: -200px;
  }

  .nav-Container {
    width: 50%;
  }
}

@media screen and (max-width: 960px) {
  header {
    margin-left: -200px;
  }

  .nav-Container {
    width: 49%;
  }
}

@media screen and (max-width: 958px) {
  header {
    margin-left: -190px;
  }

  .nav-Container {
    width: 50%;
  }
}
@media screen and (max-width: 952px) {
  header {
    margin-left: -180px;
  }

  .nav-Container {
    width: 51%;
  }
}

@media screen and (max-width: 938px) {
  .nav-Container {
    width: 52%;
  }
}

@media screen and (max-width: 914px) {
  .nav-Container {
    width: 53%;
  }

  header {
    margin-left: -170px;
  }
}

@media screen and (max-width: 908px) {
  header {
    margin-left: -150px;
  }

  .nav-Container {
    width: 53%;
  }
}

@media screen and (max-width: 896px) {
  header {
    margin-left: -95px;
  }

  .nav-Container {
    width: 55%;
  }
}

@media screen and (max-width: 884px) {
  header {
    margin-left: -135px;
  }

  .nav-Container {
    width: 54%;
  }
}

@media screen and (max-width: 872px) {
  header {
    margin-left: -135px;
  }

  .nav-Container {
    width: 55%;
  }
}

@media screen and (max-width: 854px) {
  header {
    margin-left: -135px;
  }

  nav ul {
    font-size: 15px;
  }

  .nav-Container {
    width: 55%;
  }
}

@media screen and (max-width: 832px) {
  header {
    margin-left: -125px;
  }

  nav ul {
    font-size: 15px;
  }

  .nav-Container {
    width: 55.5%;
  }
}

@media screen and (max-width: 822px) {
  header {
    margin-left: -125px;
  }

  nav ul {
    font-size: 15px;
  }

  .nav-Container {
    width: 56.5%;
  }
}

@media screen and (max-width: 812px) {
  header {
    margin-left: -125px;
  }

  .nav-Container {
    width: 57%;
  }
}

@media screen and (max-width: 798px) {
  header {
    margin-left: -125px;
  }


  .nav-Container {
    width: 58%;
  }
}


@media screen and (max-width: 780px) {
  header {
    margin-left: -130px;
  }


  .nav-Container {
    width: 59%;
  }
}

@media screen and (max-width: 768px) {
  header {
    margin-left: -130px;
  }
  .nav-Container {
    width: 60%;
  }
  .header-Icon a {
    font-size: 12px;
  }
  nav ul {
    gap: 10px;
  }
  .nav-img {
    gap: 5px;
    cursor: pointer;
  }
}

@media screen and (max-width: 698px) {
  header {
    margin-left: -120px;
  }
  .nav-Container {
    width: 62%;
  }
  .header-Icon a {
    font-size: 12px;
  }
  nav ul {
    gap: 10px;
  }
  .nav-img {
    gap: 5px;
  }
}

@media screen and (max-width: 674px) {
  header {
    margin-left: -110px;
  }
  .nav-Container {
    width: 62%;
  }
  nav {
  gap: 38px;
}
  nav ul {
    gap: 10px;
  }

}

@media screen and (max-width: 664px) {
  header {
    margin-left: -100px;
  }
  .nav-Container {
    width: 63%;
  }
  nav {
  gap: 36px;
}
  nav ul {
    gap: 10px;
  }

}

@media screen and (max-width: 652px) {
  header {
    margin-left: -90px;
  }
  .nav-Container {
    width: 64%;
  }
  nav {
  gap: 35.5px;
}

}

@media screen and (max-width: 644px) {
  header {
    margin-left: -90px;
  }
  .nav-Container {
    width: 65%;
  }

}

@media screen and (max-width: 620px) {
  header {
    margin-left: -80px;
  }
  .nav-Container {
    width: 67%;
  }

}

@media screen and (max-width: 606px) {
  header {
    margin-left: -70px;
  }
  .nav-Container {
    width: 69%;
  }

}

@media screen and (max-width: 594px) {
  header {
    margin-left: -68px;
  }
  .nav-Container {
    width: 70%;
  }

}

@media screen and (max-width: 588px) {
  header {
    margin-left: -60px;
  }
  .nav-Container {
    width: 70%;
  }

  .nav-img img{
    width: 18px;
  }
}

@media screen and (max-width: 544px) {
  header {
    margin-left: -55px;
  }
  .nav-Container {
    width: 71%;
  }

  nav {
  gap: 30px;
  }
}

@media screen and (max-width: 534px) {
  header {
    margin-left: -50px;
  }
  .nav-Container {
    width: 72%;
  }

  nav {
  gap: 25px;
}
}

@media screen and (max-width: 528px) {
  header {
    margin-left: -45px;
  }
  .nav-Container {
    width: 73%;
  }
}

@media screen and (max-width: 508px) {
  header {
    margin-left: -45px;
  }
  .nav-Container {
    width: 73%;
  }

  nav {
  gap: 20px;
}
}

@media screen and (max-width: 500px) {
  header {
    margin-left: -40px;
  }
  .nav-Container {
    width: 68%;
  }

.nav-img {
    display: none;
  }

  nav ul {
    font-size: 17px;
  }
}


@media screen and (max-width: 425px) {
  .nav-Container {
    width: 63%;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style-type: none;
    font-size: 15px;
  }

  .nav-img {
    display: none;
  }

  header {
    width: 100%;
    margin-left: -60px;
  }
}

@media screen and (max-width: 378px) {
  .nav-Container {
    width: 64%;
  }


  header {
    width: 100%;
    margin-left: -50px;
  }
}

@media screen and (max-width: 375px) {
  .nav-Container {
    width: 63%;
  }
  nav ul {
    font-size: 14px;
  }
  header {
    width: 100%;
    margin-left: -50px;
  }
}

@media screen and (max-width: 354px) {
  .nav-Container {
    width: 63%;
  }
}

@media screen and (max-width: 350px) {
  .nav-Container {
    width: 65%;
  }
}
@media screen and (max-width: 342px) {
  .nav-Container {
    width: 67%;
  }
}

@media screen and (max-width: 340px) {
  .nav-Container {
    width: 80%;
  }

  .header-Icon a {
    display: none;
  }
}

@media screen and (max-width: 278px) {
  .nav-Container {
    width: 90%;
  }

  nav ul {
  gap: 10px;
}

header {
    width: 100%;
    margin-left: -20px;
  }
}

@media screen and (max-width: 250px) {
  .nav-Container {
    width: 90%;
    padding: 20px;
  }

  nav ul {
  gap: 5px;
  font-size: 14px;
  overflow-x: scroll;
  overflow: hidden;
}

header {
    width: 100%;
    margin-left: -14px;
  }
}

@media screen and (max-width: 194px) {

header {
    width: 100%;
    margin-left: -5px;
  }
}

@media screen and (max-width: 186px) {

  header {
    width: 100%;
    margin-left: -2px;
  }
}





/* main section */
main {
  width: 100%;
  margin: 150px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: Raleway, sans-serif;
}

/*  */
.Certificate {
  width: 70%;
  gap: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Certificate-Container {
  width: 100%;
  height: 205px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
  align-items: center;
  color: #5fb9b0;
  border-radius: 50px;
  border: solid 1px #272727;
}


.Certificate-Content1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.Certificate-Content1 h2 {
  font-size: 20px;
  font-family: Raleway;
  font-weight: 600;
}

.Certificate-Content1 h3 {
  font-family: Raleway;
  font-size: 15px;
  font-weight: 400;
  color: #b292ff;
}

.Certificate-Content1 p {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: 11px;
  font-weight: 300;
  text-align: left;
  color: rgba(111, 111, 111, 1);
}

.Certificate-Content1 img {
  width: 1.5%;
  height: 3px;
}

/*  */
@media screen and (max-width: 700px) {

  .Certificate-Container {
  padding: 40px;
}

.Certificate-Content2{
  font-size: 13px;
}

.Certificate-Content1 h2 {
  font-size: 18px;
}

.Certificate-Content1 h3 {
  font-size: 13px;
}
}

@media screen and (max-width: 560px) {


.Certificate-Content2{
  font-size: 11px;
}
}

@media screen and (max-width: 520px) {
.Certificate-Container {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: #5fb9b0;
  border-radius: 50px;
  border: solid 1px #272727;
}

.Certificate-Content2{
  font-size: 15px;
}
.Certificate-Content1 h2 {
  font-size: 20px;
}
.Certificate-Content1 h3 {
  font-size: 15px;
}
.Certificate-Content1 p {
  font-size: 11px;
}
.Certificate-Content1 img {
  width: 1.5%;
  height: 3px;
}
}

/*  */
/* footer section */
.footer-container {
  width: 70%;
  margin: 100px auto;
  margin-bottom: -100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer {
  width: 100%;
  font-family: Nunito, sans-serif;
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(19, 19, 19, 1);
  color: rgba(111, 111, 111, 1);
  border-radius: 100px;
}

.footer-Image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-header {
  width: 10%;
  display: flex;
  justify-content: center;
  margin-left: 5px;
}

.footer-header h6 {
  width: 100%;
  font-family: Nunito, sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
}

.footer-header a {
  text-decoration: none;
}

/*  */
@media screen and (max-width: 1138px) {
  .footer-header {
    margin-left: 10px;
  }
  .footer-container {
    gap: 15px;
  }
}

@media screen and (max-width: 1058px) {
  .footer-header {
    margin-left: 15px;
  }
  .footer-container {
    gap: 15px;
  }
}

@media screen and (max-width: 1028px) {

  .footer-header {
    width: 11%;
    margin-left: 12px;
  }
}

@media screen and (max-width: 1008px) {

  .footer-header {
    width: 11%;
}
}

@media screen and (max-width: 978px) {
  .footer-header {
    width: 17%;
  }

  .footer-header {
    margin-left: -5px;
  }
}

@media screen and (max-width: 892px) {

  .footer-header {
    margin-left: -3px;
  }
}

@media screen and (max-width: 842px) {

  .footer-header {
    margin-left: 4px;
  }
}

@media screen and (max-width: 774px) {

  .footer-header {
    margin-left: 4px;
  }
}

@media screen and (max-width: 768px) {
  .footer-header {
    width: 18%;
  }
}

@media screen and (max-width: 690px) {
  .footer-header {
    margin-left: 10px;
  }
}

@media screen and (max-width: 666px) {

  .footer-header {
    margin-left: 9px;
  }
}

@media screen and (max-width: 600px) {

  .footer-header {
    margin-left: 15px;
  }
}

@media screen and (max-width: 560px) {

  .footer-header {
    width: 19%;
  }
}

@media screen and (max-width: 532px) {

  .footer-header {
    width: 20%;
    margin-left: 14px;
  }
}

@media screen and (max-width: 502px) {

  .footer-header {
    width: 21%;
    margin-left: 14px;
  }
}

@media screen and (max-width: 480px) {

  .footer-header {
    width: 22%;
    margin-left: 14px;
  }
}

@media screen and (max-width: 458px) {

  .footer-header {
    width: 23%;
    margin-left: 14px;
  }
}

@media screen and (max-width: 438px) {

  .footer-header {
    width: 24%;
    margin-left: 14px;
  }
}

@media screen and (max-width: 420px) {

  .footer-header {
    width: 25%;
    margin-left: 14px;
  }
}

@media screen and (max-width: 404px) {

  .footer-header {
    width: 26%;
  }
}


@media screen and (max-width: 400px) {
  .footer-header {
    margin-left: 13px;
    font-size: 13px;
  }
  .footer-container {
    gap: 12px;
  }
}

 @media screen and (max-width: 388px) {
  .footer-header {
    margin-left: 13px;
  }
}
@media screen and (max-width: 330px) {
  .footer-header {
    margin-left: 17px;
  }
}

@media screen and (max-width: 314px) {
  .footer-header {
    width: 28%;
  }
}

@media screen and (max-width: 300px) {

  .footer-header {
    width: 29%;
  }
  .footer-Image img{
  width: 20px;
}
footer p{
  font-size: 14px;
}
}

@media screen and (max-width: 282px) {

  .footer-header {
    width: 31%;
  }
  
}

@media screen and (max-width: 264px) {

  .footer-header {
    width: 32%;
  }
  
}

@media screen and (max-width: 260px) {

  .footer-header {
    font-size: 11px;
    margin-left: 15px;
  }
  .footer-Image img{
  width: 18px;
}
footer p{
  font-size: 12px;
}
}