@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
  background-color: #0c0c0d;
  font-family: Raleway, sans-serif;
}

/* header section */
header {
  width: 40%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #211f2359;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 42px;
}

.Nav-sty {
  color: #b292ff;
}
.Nav-sty:hover{
  color: #FFFFFF;
}
nav ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover{
  color: #B292FF;
}

.nav-img {
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
}
/*  */
@media screen and (max-width:1200px){
  header {
  width: 42%;
}
}
@media screen and (max-width:1134px){
  header {
  width: 44%;
}
}

@media screen and (max-width:1096px){
  header {
  width: 46%;
}
}
@media screen and (max-width:1034px){
  header {
  width: 48%;
}
}
@media screen and (max-width:1000px){
  header {
  width: 54%;
}
}
@media screen and (max-width:878px){
  header {
  width: 58%;
}
}
@media screen and (max-width:829px){
  header {
  width: 60%;
}
}
@media screen and (max-width:800px){
header {
  padding: 16px;
}
nav {
  width: 100%;
  gap: 35px;
}
}
@media screen and (max-width:771px){
header {
  width: 65%;
}
}
@media screen and (max-width:718px){
header {
  width: 69%;
}
}
@media screen and (max-width:680px){
header {
  width: 72%;
}
}
@media screen and (max-width:651px){
header {
  width: 75%;
}
}
@media screen and (max-width:627px){
header {
  width: 78%;
}
}
@media screen and (max-width:600px){

.nav-img img{
  display: none;
}
header {
  width: 58%;
}
nav {
  width: 100%;
  margin-left: 20px;
}
}
@media screen and (max-width:520px){
header {
  width: 60%;
}
nav {
  margin-left: 34px;
}
}
@media screen and (max-width:460px){
header {
  width: 70%;
}
nav {
  margin-left: 34px;
}
nav ul {
  gap: 10px;
  font-size: 15px;
}
}
@media screen and (max-width:400px){
header {
  width: 75%;
}
nav ul {
  gap: 12px;
  font-size: 15.5px;
}
}
@media screen and (max-width:360px){
header {
  width: 84%;
}

}
@media screen and (max-width:310px){
header {
  width: 87%;
  margin-left: 40px;
}
}


/*  */
main {
  width: 100%;
  margin: 80px auto;
  font-family: Raleway, sans-serif;
}
/* 1st section About  */
.About-Container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.About-Left-Container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 35%;
  padding: 40px;
  color: white;
}

.About-Left-Container h1 {
  font-family: Raleway;
  font-size: 42.5px;
  font-weight: 450;
  line-height: 80px;
}

.About-Left-Container p {
  font-family: Raleway;
  font-size: 14.5px;
  font-weight: 400;
  line-height: 22.5px;
  color: #6F6F6F;
}

.About-Left-Container span {
  color: white;
  font-weight: 500;
}

.ABL-a{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: Nunito, sans-serif;
  font-size: 10px;
  font-weight: 600;
  gap: 50px;
  padding-top: 20px;
  align-items: center;
}

.ABL-a a{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
  color: #B292FF;
}

.ABL-a a:hover{
  color:white;
}

.ABL-a #ABL-aside{
  width: 25%;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 100px;
  color: #0C0C0D;
}

.ABL-a #ABL-aside:hover{
  background-color: #9F53FF;
  color: white;
}

.About-Right-Container {
  width: 22%;
  display: flex;
  justify-content: center;
}

.About-Right-Container img{
 width: 100%;
 border-radius: 150px 60px 180px 200px;
 cursor: pointer;
}
/*  */
@media screen and (max-width:1331px){
  .About-Left-Container {
  width: 36%;
}
.About-Right-Container {
  width: 24%;
}
}
@media screen and (max-width:1295px){
  .About-Left-Container {
  width: 37%;
}
}
@media screen and (max-width:1260px){
  .About-Left-Container {
  width: 37.5%;
}
}
@media screen and (max-width:1242px){
  .About-Left-Container {
  width: 38.5%;
}
}
@media screen and (max-width:1211px){
  .About-Left-Container {
  width: 40%;
}
}
@media screen and (max-width:1165px){
  .About-Left-Container {
  width: 42%;
}
}
@media screen and (max-width:1108px){
  .About-Left-Container {
  width: 43.5%;
}
}
@media screen and (max-width:1070px){
  .About-Left-Container {
  width: 45%;
}
}
@media screen and (max-width:1034px){
  .About-Left-Container {
  width: 47%;
}
}
@media screen and (max-width:892px){
.About-Right-Container {
  width: 30%;
}
 .ABL-a{
  gap: 35px;
}
.ABL-a #ABL-aside{
  width: 30%;
}
}
@media screen and (max-width:838px){
  .About-Left-Container {
  width: 50%;
}
}
@media screen and (max-width:720px){
  .About-Left-Container {
  width: 50.5%;
}
.About-Right-Container {
  width: 34%;
}
}
@media screen and (max-width:713px){
 .ABL-a{
  gap: 35px;
}
.ABL-a #ABL-aside{
  width: 30%;
}
}
@media screen and (max-width:713px){
 .ABL-a{
  gap: 35px;
}
.ABL-a #ABL-aside{
  width: 30%;
}
}
@media screen and (max-width:655px){
    .About-Left-Container {
  width: 52%;
}
}
@media screen and (max-width:637px){
    .About-Left-Container {
  width: 55.5%;
}
 .ABL-a{
  gap: 30px;
}
.ABL-a #ABL-aside{
  width: 32%;
}
}
@media screen and (max-width:600px){
  .About-Right-Container {
  width: 35%;
}
.About-Left-Container h1 {
  font-size: 39px;
}

.About-Left-Container p {
  font-size: 14px;
}
.ABL-a{
  gap: 20px;
}
}
@media screen and (max-width:558px){
  .About-Left-Container {
  width: 58%;
}
}
@media screen and (max-width:534px){
  .About-Left-Container {
  width: 60%;
}
}
@media screen and (max-width:516px){
  .About-Left-Container {
  width: 62%;
}
}

@media screen and (max-width:500px){
.About-Left-Container {
  width: 52%;
  padding: 0px;
}
 .About-Right-Container {
  width: 38%;
}
.About-Left-Container h1 {
  font-size: 33px;
}
.About-Left-Container p {
  font-size: 11px;
}
.ABL-a{
  font-size: 8.5px;
  padding-top: 30px;
}
}
@media screen and (max-width:400px){
  .About-Container {
  flex-direction: column-reverse;
  gap: 20px;
}

.About-Left-Container {
  width: 65%;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
 .About-Right-Container {
  width: 50%;
}
.About-Left-Container h1 {
  font-size: 26px;
  line-height: 65px;
}
.About-Left-Container p {
  text-align: center;
  justify-content: center;
  font-size: 13.2px;
  font-weight: 500;
  line-height: 25px;
}
.ABL-a{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 40px;
  font-size: 13px;
  align-items: center;
}
.ABL-a #ABL-aside{
  width: 50%;
  height: 40px;
}
}
@media screen and (max-width:398px){
.About-Left-Container {
  width: 66%;
}
}
@media screen and (max-width:392px){
.About-Left-Container {
  width: 67%;
}
}
@media screen and (max-width:388px){
.About-Left-Container {
  width: 68%;
}
}
@media screen and (max-width:380px){
.About-Left-Container {
  width: 69.5%;
}
}
@media screen and (max-width:372px){
.About-Left-Container {
  width: 71%;
}
}
@media screen and (max-width:364px){
.About-Left-Container {
  width: 72%;
}
}
@media screen and (max-width:360px){
.About-Left-Container {
  width: 70%;
}
.About-Left-Container p {
  text-align: center;
  justify-content: center;
  font-size: 12.5px;
  font-weight: 600;
  line-height: 25px;
}
.About-Left-Container h1 {
  font-size: 24.5px;
  line-height: 65px;
}
 .About-Right-Container {
  width: 47%;
}
}
@media screen and (max-width:354px){
.About-Left-Container {
  width: 71.5%;
}

}
@media screen and (max-width:346px){
.About-Left-Container {
  width: 73%;
}

}
@media screen and (max-width:340px){
.About-Left-Container {
  width: 74%;
}
}
@media screen and (max-width:334px){
.About-Left-Container {
  width: 75%;
}
}
@media screen and (max-width:330px){
.About-Left-Container {
  width: 76.5%;
}
}
@media screen and (max-width:324px){
.About-Left-Container {
  width: 77.5%;
}
}
@media screen and (max-width:320px){
.About-Left-Container {
  width: 79%;
}
}
@media screen and (max-width:314px){
.About-Left-Container {
  width: 80%;
}
}
@media screen and (max-width:310px){
.About-Left-Container {
  width: 81.5%;
}
}
@media screen and (max-width:306px){
.About-Left-Container {
  width: 82.7%;
}
}

/* Section 2 Experience  */
.Experience-Container{
  width: 100%;
  margin: 200px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 240px;
  align-items: center;
  overflow: auto;
}

/* exp left container  */
.Exp-Left-Container{
  width: 15%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.Exp-Left-Container p{
  color: #6F6F6F;
  font-size: 10px;
  font-weight: 500;
}
.Exp-Left-Container h1{
  color: #FFFFFF;
  font-family: Raleway;
font-size: 50px;
font-weight: 600;
}
/*  */
@media screen and (max-width:1308px){
  .Exp-Left-Container{
  padding: 15px;
}
}
@media screen and (max-width:1240px){
  .Exp-Left-Container{
  padding: 10px;
}
}
@media screen and (max-width:1176px){
  .Exp-Left-Container{
  padding: 6px;
}
}
@media screen and (max-width:1120px){
  .Exp-Left-Container{
  padding: 0px;
}
}
@media screen and (max-width:1040px){
  .Exp-Left-Container{
  width: 16%;
}
}
@media screen and (max-width:976px){
  .Exp-Left-Container{
  width: 18%;
}
}
@media screen and (max-width:866px){
  .Exp-Left-Container{
  width: 20%;
}
}
@media screen and (max-width:780px){
  .Exp-Left-Container{
  width: 22%;
}
}
@media screen and (max-width:700px){
  .Exp-Left-Container{
  width: 20%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.Exp-Left-Container p{
  font-size: 13px;
}
.Exp-Left-Container h1{
font-size: 55px;
}
}
@media screen and (max-width:700px){
  .Exp-Left-Container{
  width: 25%;
}
.Exp-Left-Container p{
  font-size: 15px;
}
.Exp-Left-Container h1{
font-size: 60px;
}
}
/* exp right container  */
.Exp-Right-Container{
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
}

.Exp-Card{
  width: 32.2%;
  height: 180px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 20px;
  background-color: rgba(195, 201, 158, 1);
}
.Exp-Card img{
  width: 14%;
}
.Exp-Card p{
font-family: Raleway;
font-size: 13px;
font-weight: 700;
}

#Exp-ecp{
  background-color: #7D9CA5;
}

#Exp-ecp1{
  background-color: #C2C2C2;
}

/*  */
@media screen and (max-width:1174px){
  .Experience-Container{
  gap: 150px;
}
  .Exp-Right-Container{
  width: 65%;
  gap: 12px;
}
}
@media screen and (max-width:1136px){
  .Experience-Container{
  gap: 95px;
}
  .Exp-Right-Container{
  width: 70%;
}
}
@media screen and (max-width:1040px){
  .Experience-Container{
  gap: 95px;
}
  .Exp-Right-Container{
  width: 69%;
}
}
@media screen and (max-width:1022px){
  .Experience-Container{
  gap: 90px;
}
  .Exp-Right-Container{
  width: 70%;
}
}
@media screen and (max-width:1006px){
  .Experience-Container{
  gap: 80px;
}
  .Exp-Right-Container{
  width: 71%;
}
}
@media screen and (max-width:1000px){
    .Experience-Container{
  gap: 90px;
}
 .Exp-Right-Container{
  width: 70%;
}

.Exp-Card{
  width: 31%;
}
}
@media screen and (max-width:976px){
    .Experience-Container{
  gap: 70px;
}
}
@media screen and (max-width:780px){
    .Experience-Container{
  gap: 35px;
}
.Exp-Right-Container{
  width: 70%;
  gap: 10px;
}

.Exp-Card{
  width: 30%;
  height: 150px;
}
}
@media screen and (max-width:710px){
    .Experience-Container{
  gap: 10px;
}
}
@media screen and (max-width:700px){
   .Experience-Container{
  margin: 150px auto;
  flex-direction: column;
  gap: 100px;
}
.Exp-Right-Container{
  width: 95%;
  height: 200px;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 12px;
  overflow-x: scroll;
}

.Exp-Card{
  width: 35%;
  height: 170px;
}
}

/* section 3 machines  */
.Machine-Container{
  width: 100%;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.Machines{
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 50px;
  font-weight: 600;
  align-items: center;
  line-height: 100px;
  color: #C69AFF;
}

#P2{
  color: #9F53FF;
}

#P3{
  color: #6104D6;
}


/* section 4 technologies  */
.Technology-Container{
  width: 100%;
  gap: 100px;
  margin: 80px auto;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}


.Tech-Content{
  width: 35%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 150px;
  color: #C8C8C8;
  font-size: 32px;
  font-weight: 350;
}

.Technologies{
  max-width: 1600px;
  height: 350px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  overflow-x: scroll;
  overflow: hidden;
}

.Tech-card{
  width: 15%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
  font-family: Nunito;
  gap: 13px;
  font-size: 10px;
  font-weight: 400;
  border-radius: 5px;
  border: #272727 solid 1px;
}

.Tech-card img{
   width: 15%;
   height: 25px;
  padding: 4px;
  border-radius: 50%;
  background-color: #272727;
}

.Tech-img-icon{
  width: 100%;
  gap: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* footer section */
.footer-container {
  width: 70%;
  margin: 200px auto;
   margin-bottom: -50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer {
  width: 100%;
  font-family: Nunito, sans-serif;
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(19, 19, 19, 1);
  color: rgba(111, 111, 111, 1);
  border-radius: 100px;
}

.footer-Image {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.footer-header{
    width: 10%;
    display: flex;
    justify-content: center;
    margin-left: 5px;
}

.footer-header h6 {
  width: 100%;
  font-family: Nunito, sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
}

.footer-header a{
  text-decoration: none;
}

/*  */
@media screen and (max-width: 1138px) {
  .footer-header {
    margin-left: 10px;
  }
  .footer-container {
    gap: 15px;
  }
}

@media screen and (max-width: 1058px) {
  .footer-header {
    margin-left: 15px;
  }
  .footer-container {
    gap: 15px;
  }
}

@media screen and (max-width: 1028px) {
  .footer-header {
    width: 11%;
    margin-left: 12px;
  }
}

@media screen and (max-width: 1008px) {
  .footer-header {
    width: 11%;
  }
}

@media screen and (max-width: 978px) {
  .footer-header {
    width: 17%;
  }

  .footer-header {
    margin-left: -5px;
  }
}

@media screen and (max-width: 892px) {
  .footer-header {
    margin-left: -3px;
  }
}

@media screen and (max-width: 842px) {
  .footer-header {
    margin-left: 4px;
  }
}

@media screen and (max-width: 774px) {
  .footer-header {
    margin-left: 4px;
  }
}

@media screen and (max-width: 768px) {
  .footer-header {
    width: 18%;
  }
}

@media screen and (max-width: 690px) {
  .footer-header {
    margin-left: 10px;
  }
}

@media screen and (max-width: 666px) {
  .footer-header {
    margin-left: 9px;
  }
}

@media screen and (max-width: 600px) {
  .footer-header {
    margin-left: 15px;
  }
}

@media screen and (max-width: 560px) {
  .footer-header {
    width: 19%;
  }
}

@media screen and (max-width: 532px) {
  .footer-header {
    width: 20%;
    margin-left: 14px;
  }
}

@media screen and (max-width: 502px) {
  .footer-header {
    width: 21%;
    margin-left: 14px;
  }
}

@media screen and (max-width: 480px) {
  .footer-header {
    width: 22%;
    margin-left: 14px;
  }
}

@media screen and (max-width: 458px) {
  .footer-header {
    width: 23%;
    margin-left: 14px;
  }
}

@media screen and (max-width: 438px) {
  .footer-header {
    width: 24%;
    margin-left: 14px;
  }
}

@media screen and (max-width: 420px) {
  .footer-header {
    width: 25%;
    margin-left: 14px;
  }
}

@media screen and (max-width: 404px) {
  .footer-header {
    width: 26%;
  }
}

@media screen and (max-width: 400px) {
  .footer-header {
    margin-left: 13px;
    font-size: 13px;
  }
  .footer-container {
    gap: 12px;
  }
}

@media screen and (max-width: 388px) {
  .footer-header {
    margin-left: 13px;
  }
}
@media screen and (max-width: 330px) {
  .footer-header {
    margin-left: 17px;
  }
}

@media screen and (max-width: 314px) {
  .footer-header {
    width: 28%;
  }
}

@media screen and (max-width: 300px) {
  .footer-header {
    width: 29%;
  }
  .footer-Image img {
    width: 20px;
  }
  footer p {
    font-size: 14px;
  }
}

@media screen and (max-width: 282px) {
  .footer-header {
    width: 31%;
  }
}

@media screen and (max-width: 264px) {
  .footer-header {
    width: 32%;
  }
}

@media screen and (max-width: 260px) {
  .footer-header {
    font-size: 11px;
    margin-left: 15px;
  }
  .footer-Image img {
    width: 18px;
  }
  footer p {
    font-size: 12px;
  }
}

