@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  justify-content: center;
  align-items: center;
  background-color: #0c0c0d;
  font-family: Raleway, sans-serif;
}

/* header section */
header {
  width: 45%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #211f2359;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:42px;
}

.Nav-sty {
  color: #b292ff;
}
.Nav-sty:hover{
  color: #FFFFFF;
}
nav ul {
  display: flex;
  flex-direction: row;
  text-align: start;
  gap: 20px;
  list-style-type: none;
  font-size: 20px;
}

nav ul a{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: white;
}


nav a:hover{
  color: #B292FF;
}

.nav-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.nav-img a{
  display: flex;
  align-items: center;
  list-style-type: none;
}

@media screen and (max-width:1024px){
header {
  width: 70%;
}
nav{
  width: 100%;
  display: flex;
  gap: 50px;
}
}

@media screen and (max-width: 768px) {
header {
  width: 84%;
}
nav ul{
    font-size: 15.5px;
  }
nav{
  width: 100%;
}
}

@media screen and (max-width: 425px) {
    .nav-img {
  display: none;
}
header {
  width: 84%;
  margin: auto;
  padding: 20px;
}
}

@media screen and (max-width: 375px) {
  header {
  width: 87%;
}

}


/*  */
main {
  width: 100%;
  margin: 90px auto;
  font-family: Raleway, sans-serif;
}
/* 1st section About  */
.About-Container {
  width: 100%;
  margin: 70px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  gap: 80px;
}

.About-Left-Container {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  color: white;
}

.About-Left-Container h1 {
  line-height: 80px;
  font-family: Montserrat;
font-weight: 600;
font-size:55px;
}

.About-Left-Container p {
  display: flex;
  text-align: start;
  font-weight: 400;
  line-height: 35px;
  color: #6F6F6F;
  font-family: Inter;
font-size: 20px;
}

.ABL-a{
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  font-family: Nunito, sans-serif;
  font-weight: 600;
  padding-top: 20px;
  align-items: center;
}
.ABL-a a{
  text-decoration: none;
}
.ABL-a a:hover{
  color:white;
}

.ABL-a #ABL-aside{
  width: 100%;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 100px;
  color: #0C0C0D;
}

.ABL-a #ABL-aside:hover{
  background-color: #9F53FF;
  color: white;
}

.About-Right-Container {
  width: 32%;
  display: flex;
  justify-content: center;
}

.About-Right-Container img{
 width: 450px;
 border-radius: 150px 60px 180px 200px;
 cursor: pointer;
}
/*  */
/*  */

@media screen and (max-width:1024px){
  .About-Container {
  margin: 0%;
  justify-content: center;
  gap: 110px;
}
.About-Left-Container h1 {
font-size:52px;
}
.About-Left-Container p {
  line-height: 30px;
font-size: 18px;
}
.About-Left-Container {
  width: 43%;
  padding: 0;
}
.About-Right-Container {
  width: 26%;
}
.About-Right-Container img{
 width: 380px;
}
}

@media screen and (max-width:768px){
   .About-Left-Container {
  width: 50%;
  padding: 40px;
}
.About-Left-Container h1 {
  line-height: 60px;
font-weight: 500;
font-size:40px;
}

.About-Left-Container p {
  line-height: 30px;
font-size: 15px;
}
.About-Right-Container {
  width: 25%;
}
.About-Right-Container img{
 width: 330px;
}
.About-Container {
  width: 100%;
  margin: 0;
  justify-content: start;
  gap: 60px;
}
.ABL-a{
  width: 50%;
}
.ABL-a #ABL-aside{
  font-size: 12px;
}
}

@media screen and (max-width:425px){
.About-Container {
  flex-direction: column-reverse;
  margin:auto;
  gap: 20px;
}
.About-Right-Container {
  width: 80%;
  display: flex;
  justify-content: center;
}
.About-Right-Container img{
 width: 280px;
}

.About-Left-Container {
  width: 88%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0;
  margin: 35px auto;
}
.About-Left-Container h1 {
  line-height: 40px;
font-size:40px;
}

.About-Left-Container p {
  font-weight: 500;
  line-height: 32px;
font-size: 20px;
}
}

@media screen and (max-width:375px){
 
.About-Left-Container {
  width: 86%;
}
.About-Left-Container p {
  text-align: center;
  font-weight: 500;
  line-height: 32px;
font-size: 16px;
}
.ABL-a{
  width: 58%;
}
}
/*  *//*  */
/*end of media query  */ 
/*  *//*  */
/*  */



/* Section 2 Experience  */
.Experience-Container {
  width: 100%;
  margin: 200px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  align-items: center;
}

/* exp left container  */
.Exp-Left-Container {
  width: 20%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.Exp-Left-Container p {
  color: #6F6F6F;
  font-family: Raleway;
  font-weight: 700;
  font-size: 12px;
}

.Exp-Left-Container h1 {
  color: #FFFFFF;
  font-family: Raleway;
  font-size: 50px;
  font-weight: 600;
}

/* exp right container  */
.Exp-Right-Container {
  width: 62%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;

  /* Hide scrollbar */
  scrollbar-width: none;  
  -ms-overflow-style: none;   
}

.Exp-Right-Container::-webkit-scrollbar {
  display: none;         
}

.Exp-Card {
  flex: 0 0 auto;
  width: 35%;
  height: 220px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 20px;
  background-color: rgba(195, 201, 158, 1);
}

.Exp-Card img {
  width: 14%;
}

.Exp-Card p {
  font-family: Raleway;
  font-size: 13px;
  font-weight: 700;
}

#Exp-ecp {
  background-color: #7D9CA5;
}

#Exp-ecp1 {
  background-color: #C2C2C2;
}

/* Media Queries */
/*  */
@media screen and (max-width: 768px) {
  .Experience-Container {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    gap: 60px;
    margin: 120px auto;
  }

  .Exp-Left-Container {
    width: 45%;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .Exp-Left-Container h1 {
    font-weight: 700;
    font-size: 85px;
    text-align: center;
  }

  .Exp-Left-Container p {
    font-size: 17px;
  }

  .Exp-Right-Container {
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 12px;
  }

  .Exp-Card {
    flex: 0 0 auto;
    width: 37%;
    height: 240px;
  }
}

/*  */
@media screen and (max-width: 425px) {
  .Experience-Container {
    margin: 100px auto;
  }

  .Exp-Left-Container {
    width: 70%;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .Exp-Left-Container h1 {
    font-weight: 700;
    font-size: 80px;
    text-align: center;
  }

  .Exp-Left-Container p {
    font-size: 16px;
  }

  .Exp-Right-Container {
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 12px;
  }

  .Exp-Card {
    flex: 0 0 auto;
    width: 100%;
  }
}



/*  */
/* section 3 machines  */
.Machine-Container{
  width: 100%;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.Machines{
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 50px;
  font-weight: 600;
  align-items: center;
  line-height: 100px;
  color: #C69AFF;
}

#P2{
  color: #9F53FF;
}

#P3{
  color: #6104D6;
}


/* section 4 technologies  */
.Technology-Container {
  width: 100%;
  gap: 100px;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.Tech-Content {
  width: 42%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  color: #C8C8C8;
  font-family: Inter;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
}


/*  */
/*  */
@media screen and (max-width: 768px) {
  .Tech-Content {
    width: 58%;
  }
  .Technology-Container {
    margin-top: 160px;
  }
}
@media screen and (max-width: 425px) {
  .Tech-Content {
    width: 85%;
    font-weight: 500;
    font-size: 35px;
  }
  .Technology-Container {
    margin-top: 100px;
  }
}

/* Technologies container and cards */
.Technologies {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 50px;
  scroll-behavior: smooth;
  white-space: nowrap;

  /* Hide scrollbar */
  scrollbar-width: none;  
  -ms-overflow-style: none;    
}

.Technologies::-webkit-scrollbar {
  display: none;            
}

.Tech-card {
  flex: 0 0 auto;
  width: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
  font-family: Nunito;
  gap: 13px;
  font-size: 10px;
  font-weight: 400;
  border-radius: 5px;
  border: #272727 solid 1px;
}

.Tech-card img {
  width: 27px;
  height: 27px;
  padding: 4px;
  border-radius: 50%;
  background-color: #272727;
}

.Tech-img-icon {
  width: 180px;
  gap: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*  */
/*  */
@media screen and (max-width: 1024px) {
  .Technologies {
    justify-content: flex-start; 
    padding-left: 20px;         
    padding-right: 20px;         
  }
}


/*  */
/*  */
/* my prject section */
.my-project{
  width: 100%;
  margin: 70px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Raleway, sans-serif;
  gap: 80px;
}

.myp-content h1{
  color: #C8C8C8;
  font-family: Inter;
font-weight: 500;
font-size: 55px;
letter-spacing: 0%;
text-align: center;
}

.my-project-cont{
  width: 75%;
  padding: 32px;
  display: flex;
  justify-content: space-evenly;
  background-color: #131313;
  border-radius: 60px;
}

.Myp-left{
  width: 38%;
  height: 370px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Myp-left h1{
  color: white;
  font-family: Raleway;
font-weight: 500;
font-size: 28px;
line-height: 40px;
letter-spacing: 0%;
}

.Myp-left P{
  color: #B292FF;
  font-family: Raleway;
font-weight: 400;
font-size: 14px;
line-height: 30px;
letter-spacing: 0%;
}

.project-btn{
  width: 60%;
}

.project-btn a{
  width: 100%;
  background-color: white;
  color: #0C0C0D;
  padding: 12px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 10px;
  cursor: pointer;
}

.Myp-right{
  width: 680px; 
  height: 370px;   
  overflow: hidden;
}

.Myp-right img{
    width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* footer section */
.footer-container {
  width: 70%;
  margin: 200px auto;
   margin-bottom: -50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer {
  width: 100%;
  font-family: Nunito, sans-serif;
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(19, 19, 19, 1);
  color: rgba(111, 111, 111, 1);
  border-radius: 100px;
}

.footer-Image {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.footer-header{
    width: 10%;
    display: flex;
    justify-content: center;
    margin-left: 5px;
}

.footer-header h6 {
  width: 100%;
  font-family: Nunito, sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
}

.footer-header a{
  text-decoration: none;
}

/*  */
@media screen and (max-width: 1138px) {
  .footer-header {
    margin-left: 10px;
  }
  .footer-container {
    gap: 15px;
  }
}

@media screen and (max-width: 1058px) {
  .footer-header {
    margin-left: 15px;
  }
  .footer-container {
    gap: 15px;
  }
}

@media screen and (max-width: 1028px) {
  .footer-header {
    width: 11%;
    margin-left: 12px;
  }
}

@media screen and (max-width: 1008px) {
  .footer-header {
    width: 11%;
  }
}

@media screen and (max-width: 978px) {
  .footer-header {
    width: 17%;
  }

  .footer-header {
    margin-left: -5px;
  }
}

@media screen and (max-width: 892px) {
  .footer-header {
    margin-left: -3px;
  }
}

@media screen and (max-width: 842px) {
  .footer-header {
    margin-left: 4px;
  }
}

@media screen and (max-width: 774px) {
  .footer-header {
    margin-left: 4px;
  }
}

@media screen and (max-width: 768px) {
  .footer-header {
    width: 18%;
  }
}

@media screen and (max-width: 690px) {
  .footer-header {
    margin-left: 10px;
  }
}

@media screen and (max-width: 666px) {
  .footer-header {
    margin-left: 9px;
  }
}

@media screen and (max-width: 600px) {
  .footer-header {
    margin-left: 15px;
  }
}

@media screen and (max-width: 560px) {
  .footer-header {
    width: 19%;
  }
}

@media screen and (max-width: 532px) {
  .footer-header {
    width: 20%;
    margin-left: 14px;
  }
}

@media screen and (max-width: 502px) {
  .footer-header {
    width: 21%;
    margin-left: 14px;
  }
}

@media screen and (max-width: 480px) {
  .footer-header {
    width: 22%;
    margin-left: 14px;
  }
}

@media screen and (max-width: 458px) {
  .footer-header {
    width: 23%;
    margin-left: 14px;
  }
}

@media screen and (max-width: 438px) {
  .footer-header {
    width: 24%;
    margin-left: 14px;
  }
}

@media screen and (max-width: 420px) {
  .footer-header {
    width: 25%;
    margin-left: 14px;
  }
}

@media screen and (max-width: 404px) {
  .footer-header {
    width: 26%;
  }
}

@media screen and (max-width: 400px) {
  .footer-header {
    margin-left: 13px;
    font-size: 13px;
  }
  .footer-container {
    gap: 12px;
  }
}

@media screen and (max-width: 388px) {
  .footer-header {
    margin-left: 13px;
  }
}
@media screen and (max-width: 330px) {
  .footer-header {
    margin-left: 17px;
  }
}

@media screen and (max-width: 314px) {
  .footer-header {
    width: 28%;
  }
}

@media screen and (max-width: 300px) {
  .footer-header {
    width: 29%;
  }
  .footer-Image img {
    width: 20px;
  }
  footer p {
    font-size: 14px;
  }
}

@media screen and (max-width: 282px) {
  .footer-header {
    width: 31%;
  }
}

@media screen and (max-width: 264px) {
  .footer-header {
    width: 32%;
  }
}

@media screen and (max-width: 260px) {
  .footer-header {
    font-size: 11px;
    margin-left: 15px;
  }
  .footer-Image img {
    width: 18px;
  }
  footer p {
    font-size: 12px;
  }
}

